*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
}

.container {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.calculator{
    box-shadow: 6px 6px 13px #fff
                6px 6px 13px #fff ;
      border-radius: 28px;
      padding: 16px;
      display: grid;
      grid-template-columns: repeat(4,68px);          
}

input{
grid-column: span 4;
height: 68px;
width: 258px;
box-shadow: inset -6px -6px 13px #fff,
             inset 6px 6px 13px rgba(0, 0, 0,) ;
background-color: aliceblue;
border: none;
border-radius: 32px;
color: aqua;
text-align: end;
margin: 40px 0px 30px 0px;
padding: 20px;
font-size: 40px;

}

button{
 box-shadow: inset -6px -6px 13px #fff,
    inset 6px 6px 13px rgba(0, 0, 0,) ;
 background-color: aliceblue;
 border: none;
 font-weight: 20px;
 margin: 10px;
 font-size: 20px;
 border-radius: 50%;   
}

.equal{
box-shadow: inset -6px -6px 13px #fff,
    inset 6px 6px 13px rgba(0, 0, 0,) ;
 background-color: aliceblue;  
 width: 120px;
 border-radius: 42px;  

}